@page "/"

<PageTitle>Index</PageTitle>

<div class="container-fluid" id="top">

    <div class="pagehead">
        <h1 class="fade-in one intro">Hi, I'm Stefan.</h1>
        <p class="fade-in two blurb">I am a hard-working and driven individual who isn’t afraid to face a challenge.</p>
    </div>
    <div class="fade-in three main">
        <div class="content" id="about">
            <div class="row text-center">
                <div class="profile-pic col-md-offset-1 col-md-3">
                    <img class="img-responsive" src="/images/eu.png" alt="My profile picture." width="200px">
                </div>
                <div class="col-md-7">
                    <p class="highlight-text mt-5 align-center pt-5">
                        I would describe myself as an open and honest person who doesn’t believe in misleading other people and tries to be fair in everything I do.<br/>
                        I would say that I’m creative, hard-working, and detail-oriented.<br/>
                        I’m very communicative, detail-oriented, and versatile. I like to think of myself as a team player.<br/>
                        While I don’t mind taking on solo projects, I prefer to work with others.</p>
                </div>
            </div>
            <div class="nav"><a href="#top"><i class="fa fa-arrow-up"></i></a></div>
        </div>
       
        <div class="content" id="footer">
            <p>Made with <i class="fa fa-heart"></i> and <i class="fa fa-coffee"></i>.&nbsp;&nbsp;<i class="fa fa-copyright"></i> Borcia Stefan Iulian 2024</p>
        </div>
    </div>

</div>


<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.scrollto/2.1.2/jquery.scrollTo.min.js"></script>
<script type="text/javascript" src="js/init.js"></script>
<script>
    $('a[href^="#"]').click(function (e) {
        e.preventDefault();
        $(window).stop(true).scrollTo(this.hash, { duration: 500, interrupt: false });
    });
</script>