@inherits LayoutComponentBase

<PageTitle>BlazorServerApp</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://twitter.com/BorciaStefan" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://github.com/stefanborcia" target="_blank"><i class="fa fa-github"></i></a>
            <a href="https://www.linkedin.com/in/b-stefan/" target="_blank"><i class="fa fa-linkedin"></i></a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
