@page "/dobbelen"

<h1>Dobbelen</h1>

<button class="btn btn-primary m-3" @onclick="TrekKaart">Gooi de stenen</button>

<div id="dobbelstenenContainer" class="mb-3">
    @if (afbeeldingDobbelsteen1 != null && afbeeldingDobbelsteen2 != null)
    {
        <div class="d-flex">
            <div class="dobbelsteen me-5">
                <img src="@afbeeldingDobbelsteen1" width="48" />
            </div>
            <div class="dobbelsteen">
                <img src="@afbeeldingDobbelsteen2" width="48" />
            </div>
        </div>
    }
</div>

<p class="alert alert-info">Jouw score: @score</p>

@code{
    string afbeeldingDobbelsteen1;
    string afbeeldingDobbelsteen2;
    int score;

    private void TrekKaart()
    {
        var dobbelsteen1 = new Random().Next(1, 7);
        var dobbelsteen2 = new Random().Next(1, 7);
        afbeeldingDobbelsteen1 = $"/images/{dobbelsteen1}.png";
        afbeeldingDobbelsteen2 = $"/images/{dobbelsteen2}.png";
        score = dobbelsteen1 + dobbelsteen2;
    }
}